*,
*:before,
*:after {
  box-sizing: border-box;
}

:after {
  content: "";
}

.vl {
  border-left: 2px solid black;
  padding-right: 4px;
  height: 80px;
  display: inline;
  position: relative;
  top: 0;
}

.header-text {
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

nav {
  float: left;
  position: fixed;
  top: 17.5%;
  left: -32.5px;
  background: transparent;
  padding: 100px 0;

  color: white;
  max-width: 640px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

nav ul {
  text-align: center;
}

nav ul li {
  position: relative;
  width: 70px;
  cursor: pointer;
  background: #ff914d;
  text-transform: uppercase;
  transition: all 0.4s ease-out;
}

nav ul li:after {
  position: absolute;
  background: white;
  color: #ff914d;
  top: 0;
  left: 70px;
  width: 70px;
  height: 100%;
  opacity: 0.5;
  transform: perspective(400px) rotateY(90deg);
  transform-origin: 0 100%;
  transition: all 0.4s ease-out;
}

nav ul li:nth-child(1):after {
  content: "Home";
  line-height: 88px;
}
nav ul li:nth-child(2):after {
  content: "About";
  line-height: 110px;
}
nav ul li:nth-child(3):after {
  content: "Toys";
  line-height: 125px;
}
nav ul li:nth-child(4):after {
  content: "Contact";
  line-height: 60px;
}

nav ul li:hover {
  transform: translateX(-70px);
}

nav ul li:hover:after {
  opacity: 1;
  transform: perspective(400px) rotateY(0deg) scale(1);
}

nav ul li > div {
  display: inline-block;
  padding: 25px 0;
  background: transparent;
}

nav ul li div {
  position: relative;
}

.roof {
  width: 0;
  height: 0;
  top: 2px;
  border-style: solid;
  border-width: 0 21px 15px 21px;
  border-color: transparent transparent #ffffff transparent;
}

.roof-edge {
  position: absolute;
  z-index: 20;
  left: -17px;
  top: 3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 17px 12px 17px;
  border-color: transparent transparent #ff914d transparent;
}
/*white triangle over red triangle*/
.roof-edge:after {
  position: absolute;
  left: -14.5px;
  top: 3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 14.5px 10px 14.5px;
  border-color: transparent transparent white transparent;
}

.front {
  position: relative;
  top: 3px;
  width: 28.5px;
  height: 20px;
  margin: 0 auto;
  background: white;
}
/*door*/
.front:after {
  position: absolute;
  background: #ff914d;
  width: 11px;
  height: 13px;
  bottom: 0;
  left: 9px;
}

.imgfix {
  width: 100%;
  height: 100%;
}

.mail-base {
  position: relative;
  width: 32px;
  height: 18px;
  background: white;
}

.mail-top {
  position: absolute;
  z-index: 20;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  transform: rotate(180deg);
  border-style: solid;
  border-width: 0 16px 11px 16px;
  border-color: transparent transparent #ff914d transparent;
}

.mail-top:after {
  position: absolute;
  z-index: 20;
  left: -16px;
  top: 3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 16px 9px 16px;
  border-color: transparent transparent white transparent;
}

.hero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1)),
    url(http://localhost:5500/imgs/hero.png) center/cover no-repeat;
  position: relative;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 150px;
  text-align: center;
  white-space: nowrap;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}
